.container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100vh;

  header,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em;

    aside {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-radius: 2em;
    }
  }
}
