.container {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  height: 100vh;

  header,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em;

    aside {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2em;
      overflow-y: auto;

      &:nth-of-type(2) {
        background-color: black;
        color: white;
        padding: 2em;
      }
    }
  }

  @media (max-width: 800px) {
    main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }
}
